#color-output {
  padding: 4px;
  border: 1px solid #aaaaaa;
  outline: 0;
  width: 150px;
  color: #777777;
}

#color-format-selector {
  padding: 3px;
  border: 1px solid #aaaaaa;
  outline: 0;
  background-color: #ffffff;
  color: #777777;
}

#color-grid {
  margin-top: 10px;
  background-color: #aaaaaa;
  position: relative;
}

.color-input {
  position: absolute;
  font-family: sans-serif;
  font-size: 10px;
  color: #ffffff;
  text-decoration: none;
}

#brand {
  font-size: 12px;
  font-family: sans-serif;
  font-weight: bold;
  color: #e74c3c;
  margin-left: 100px;
}
